# üêç Clase 1: Introducci√≥n a Python para Ingenier√≠a y Geotecnia
¬°Bienvenido/a a tu primera clase de Python! Descubre por qu√© este lenguaje es fundamental para ingenieros y c√≥mo puede ayudarte a resolver problemas reales, automatizar procesos y analizar datos t√©cnicos.

## üöÄ ¬øPor qu√© aprender Python en ingenier√≠a?
Python es uno de los lenguajes de programaci√≥n m√°s populares y vers√°tiles. Sus ventajas incluyen:

- Sintaxis simple y clara (f√°cil de aprender y leer).
- Gran comunidad y soporte en l√≠nea.
- Ideal para an√°lisis de datos, automatizaci√≥n, inteligencia artificial y m√°s.
- Compatible con herramientas que ya usas: Excel, bases de datos, sensores, etc.

![Lenguajes de programaci√≥n m√°s populares 2024](https://github.blog/wp-content/uploads/2024/10/GitHub-Octoverse-2024-top-programming-languages.png?w=1024&resize=1024%2C1024)

## üõ†Ô∏è Aplicaciones de Python en Geotecnia e Ingenier√≠a
Python te permite:

- Procesar grandes vol√∫menes de datos (como mediciones de instrumentaci√≥n geot√©cnica).
- Automatizar informes y tareas repetitivas.
- Visualizar resultados de sensores o ensayos.
- Integrarte con herramientas como Excel, AutoCAD, o software de modelado.

üëâ **Ejemplo**: Automatizar el an√°lisis de datos de inclin√≥metros o piez√≥metros con `pandas` y `matplotlib`.

## üß∞ Herramientas y bibliotecas esenciales para ingenier√≠a
Durante el curso usaremos:

- `numpy`: manejo num√©rico y de vectores.
- `pandas`: manipulaci√≥n de datos tabulares (como Excel).
- `matplotlib` y `seaborn`: visualizaci√≥n de datos.
- `scipy`: herramientas cient√≠ficas avanzadas.

## ‚ú® Primeros pasos en Python: variables y tipos de datos
Python puede manejar distintos tipos de informaci√≥n. Veamos algunos ejemplos:

In [1]:
# Variables y tipos de datos b√°sicos
nombre = "Juan"  # string
edad = 30        # integer
altura = 1.75    # float
es_estudiante = True  # boolean

print(f"Nombre: {nombre}, Tipo: {type(nombre)}")
print(f"Edad: {edad}, Tipo: {type(edad)}")
print(f"Altura: {altura}, Tipo: {type(altura)}")
print(f"Es estudiante: {es_estudiante}, Tipo: {type(es_estudiante)}")

Nombre: Juan, Tipo: <class 'str'>
Edad: 30, Tipo: <class 'int'>
Altura: 1.75, Tipo: <class 'float'>
Es estudiante: True, Tipo: <class 'bool'>

## ‚ûï Operaciones b√°sicas y estructuras de control
Realiza operaciones matem√°ticas y controla el flujo de tu programa con condicionales:

In [2]:
# Operaciones b√°sicas
a = 10
b = 3

suma = a + b
resta = a - b
multiplicacion = a * b
division = a / b
division_entera = a // b
modulo = a % b
potencia = a ** b

print(f"Suma: {suma}")
print(f"Resta: {resta}")
print(f"Multiplicaci√≥n: {multiplicacion}")
print(f"Divisi√≥n: {division}")
print(f"Divisi√≥n entera: {division_entera}")
print(f"M√≥dulo: {modulo}")
print(f"Potencia: {potencia}")

Suma: 13
Resta: 7
Multiplicaci√≥n: 30
Divisi√≥n: 3.3333333333333335
Divisi√≥n entera: 3
M√≥dulo: 1
Potencia: 1000

In [3]:
# Estructuras de control: condicionales
temperatura = 25

if temperatura > 30:
    print("Hace calor")
elif temperatura > 20:
    print("La temperatura es agradable")
else:
    print("Hace fr√≠o")

La temperatura es agradable

In [4]:
# Estructuras de control: condicionales
temperatura = 20

if (temperatura > 25) and (temperatura < 30):
    print("La temperatura es agradable.")
elif (temperatura >= 30) or (temperatura <= 25):
    print("La temperatura es muy caliente o muy fr√≠a.")

La temperatura es muy caliente o muy fr√≠a.

## üìä Listas y manipulaci√≥n de datos
Las listas permiten almacenar y procesar colecciones de datos, como lecturas de sensores:

In [5]:
# Ejemplo
lecturas_sensor = [100, 120, 115, 130, 125]

total = sum(lecturas_sensor)
promedio = total / len(lecturas_sensor)
maximo = max(lecturas_sensor)
minimo = min(lecturas_sensor)

print(f"Lecturas del sensor: {lecturas_sensor}")
print(f"Promedio: {promedio:.2f}")
print(f"M√°ximo: {maximo}")
print(f"M√≠nimo: {minimo}")

Lecturas del sensor: [100, 120, 115, 130, 125]
Promedio: 118.00
M√°ximo: 130
M√≠nimo: 100

In [6]:
# Ejercicio: Clasificar las lecturas
for lectura in lecturas_sensor:
    if lectura > promedio:
        print(f"{lectura} est√° por encima del promedio")
    elif lectura < promedio:
        print(f"{lectura} est√° por debajo del promedio")
    else:
        print(f"{lectura} es igual al promedio")

100 est√° por debajo del promedio
120 est√° por encima del promedio
115 est√° por debajo del promedio
130 est√° por encima del promedio
125 est√° por encima del promedio

![Condicionales en Python](https://www.programiz.com/sites/tutorial2program/files/python-if-else.png)

## üß© Funciones en Python
Las funciones permiten reutilizar c√≥digo y organizar mejor tus programas.

In [ ]:
# Funciones
def calcular_presion(fuerza, area):
    return fuerza / area

# Uso de la funci√≥n
fuerza = 1000  # N
area = 0.5  # m^2
presion = calcular_presion(fuerza, area)
print(f"Presi√≥n: {presion} Pa")

![Crear funci√≥n en Python](https://www.programiz.com/sites/tutorial2program/files/create-function-python.png)

## üìù Ejercicio pr√°ctico: Promedio de una lista
Crea una funci√≥n para calcular el promedio de los valores en una lista.

In [ ]:
# Listas
lecturas_sensor = [100.3, 120.6, 115.1, 130.5, 125.2]
print("Lecturas del sensor:", lecturas_sensor)

def calcular_promedio(lista):
  suma = sum(lista)
  numero_elementos = len(lista)
  promedio = suma / numero_elementos
  return promedio

promedio = calcular_promedio(lecturas_sensor)
print(f"Promedio: {promedio:.1f}")

# Obtener un elemento
print(f"Tercer elemento: {lecturas_sensor[2]}")

# Slice de lista
print(f"Primeros tres elementos: {lecturas_sensor[:3]}")

# üìà Introducci√≥n al an√°lisis de datos en Python

## üì¶ Paquetes y librer√≠as: ¬øqu√© son y c√≥mo se usan?
En Python, un **paquete** o **librer√≠a** es un conjunto de m√≥dulos (archivos `.py`) que contienen funciones, clases y variables predefinidas para resolver tareas espec√≠ficas de manera eficiente.

Algunas de las librer√≠as m√°s importantes para el an√°lisis de datos en instrumentaci√≥n geot√©cnica son:

- **`numpy`**: Operaciones matem√°ticas y manejo de arreglos num√©ricos.
- **`pandas`**: Manejo y an√°lisis de datos estructurados (como tablas).
- **`matplotlib`** y **`seaborn`**: Visualizaci√≥n de datos.
- **`scipy`**: Herramientas cient√≠ficas avanzadas.

Para usarlas, primero debes **importarlas** con la palabra clave `import`:

```python
import numpy as np  # Importa la librer√≠a numpy y le asigna el alias 'np'
import pandas as pd  # Importa pandas y le asigna el alias 'pd'
import matplotlib.pyplot as plt  # Importa pyplot de matplotlib para crear gr√°ficos
```

## üî¢ Primeros pasos con pandas

In [8]:
# Pandas
!pip install numpy pandas --quiet

import numpy as np
import pandas as pd

df_pluviometro = pd.read_csv("../data/pluviometro.csv")
df_pluviometro.head()

            Unnamed: 0   p1   p2
0  2019-05-03 16:00:00  0.0  0.0
1  2019-05-03 16:05:00  0.0  0.0
2  2019-05-03 16:10:00  0.0  0.0
3  2019-05-03 16:15:00  0.0  0.0
4  2019-05-03 16:20:00  0.0  0.0

![Pandas Example](https://media.geeksforgeeks.org/wp-content/uploads/finallpandas.png)

In [9]:
df_pluviometro = pd.read_csv("../data/pluviometro.csv", index_col=0)
df_pluviometro.head()

                      p1   p2
2019-05-03 16:00:00  0.0  0.0
2019-05-03 16:05:00  0.0  0.0
2019-05-03 16:10:00  0.0  0.0
2019-05-03 16:15:00  0.0  0.0
2019-05-03 16:20:00  0.0  0.0

In [10]:
print(df_pluviometro.index.dtype)

df_pluviometro.index = pd.to_datetime(df_pluviometro.index)

print(df_pluviometro.index.dtype)

object
datetime64[ns]

In [11]:
# Acceder a una columna
print("Lecturas del pluvi√≥metro p1:")
df_pluviometro['p1']

Lecturas del pluvi√≥metro p1:

2019-05-03 16:00:00    0.0
2019-05-03 16:05:00    0.0
2019-05-03 16:10:00    0.0
2019-05-03 16:15:00    0.0
2019-05-03 16:20:00    0.0
                      ...
2021-07-07 23:40:00    0.0
2021-07-07 23:45:00    0.0
2021-07-07 23:50:00    0.0
2021-07-07 23:55:00    0.0
2021-07-08 00:00:00    0.0
Name: p1, Length: 229345, dtype: float64

In [12]:
# Estad√≠sticas descriptivas
print("Estad√≠sticas descriptivas:")
df_pluviometro.describe()

Estad√≠sticas descriptivas:

                  p1             p2
count  229345.000000  229345.000000
mean        0.013085       0.012171
std         0.112724       0.106910
min         0.000000       0.000000
25%         0.000000       0.000000
50%         0.000000       0.000000
75%         0.000000       0.000000
max         6.942667       6.942667

In [13]:
# Filtrado
print("Lecturas del pluvi√≥metro > 0:")

condicion = df_pluviometro['p1'] > 0
df_pluviometro[condicion]

Lecturas del pluvi√≥metro > 0:

                           p1        p2
2019-05-08 07:20:00  0.084667  0.084667
2019-05-08 07:25:00  0.169333  0.169333
2019-05-08 07:30:00  0.254000  0.254000
2019-05-08 07:35:00  0.254000  0.254000
2019-05-08 07:40:00  0.169333  0.169333
...                       ...       ...
2021-07-05 00:05:00  0.084667  0.084667
2021-07-05 00:10:00  0.084667  0.084667
2021-07-05 00:55:00  0.084667  0.000000
2021-07-05 01:00:00  0.084667  0.000000
2021-07-05 01:05:00  0.084667  0.000000

[10836 rows x 2 columns]

In [15]:
df_pluviometro[condicion].describe()

                 p1            p2             p
count  10836.000000  10836.000000  10836.000000
mean       0.276948      0.247554      0.285379
std        0.442580      0.427652      0.445839
min        0.084667      0.000000      0.084667
25%        0.084667      0.084667      0.084667
50%        0.169333      0.169333      0.169333
75%        0.254000      0.254000      0.254000
max        6.942667      6.942667      6.942667

In [14]:
# Operaciones en columnas
df_pluviometro['p'] = df_pluviometro[['p1', 'p2']].max(axis=1)

df_pluviometro

                      p1   p2    p
2019-05-03 16:00:00  0.0  0.0  0.0
2019-05-03 16:05:00  0.0  0.0  0.0
2019-05-03 16:10:00  0.0  0.0  0.0
2019-05-03 16:15:00  0.0  0.0  0.0
2019-05-03 16:20:00  0.0  0.0  0.0
...                  ...  ...  ...
2021-07-07 23:40:00  0.0  0.0  0.0
2021-07-07 23:45:00  0.0  0.0  0.0
2021-07-07 23:50:00  0.0  0.0  0.0
2021-07-07 23:55:00  0.0  0.0  0.0
2021-07-08 00:00:00  0.0  0.0  0.0

[229345 rows x 3 columns]

In [16]:
df_pluviometro.mean()

p1    0.013085
p2    0.012171
p     0.013959
dtype: float64

## üèóÔ∏è Carga y preparaci√≥n de datos de sensores geot√©cnicos

In [17]:
import pandas as pd

df_humedad = pd.read_csv('../data/humedad.csv', index_col=0)
df_humedad.index = pd.to_datetime(df_humedad.index)

# Mostrar el df
df_humedad

                           sh1
TIMESTAMP
2020-03-11 17:00:00  60.003714
2020-03-11 17:05:00  60.003714
2020-03-11 17:10:00  60.003714
2020-03-11 17:15:00  60.003714
2020-03-11 17:20:00  60.003714
...                        ...
2021-06-01 11:40:00  60.917586
2021-06-01 11:45:00  60.917586
2021-06-01 11:50:00  60.917586
2021-06-01 11:55:00  60.917586
2021-06-01 12:00:00  60.917586

[128677 rows x 1 columns]

In [19]:
df_unido = pd.concat([df_pluviometro, df_humedad], axis=1)

df_unido['p'] = df_unido[['p1', 'p2']].max(axis=1)

df_unido.head()

                      p1   p2    p  sh1
2019-05-03 16:00:00  0.0  0.0  0.0  NaN
2019-05-03 16:05:00  0.0  0.0  0.0  NaN
2019-05-03 16:10:00  0.0  0.0  0.0  NaN
2019-05-03 16:15:00  0.0  0.0  0.0  NaN
2019-05-03 16:20:00  0.0  0.0  0.0  NaN

In [20]:
# Exportar
df_unido.to_csv('../data/df_compilado.csv', index=True)

## üèÜ Ejercicio pr√°ctico: An√°lisis y limpieza de datos

**Objetivo:** Lee las series de tiempo de los sensores y realiza la limpieza, preparaci√≥n y uni√≥n de las series de tiempo.

**Instrucciones**

1. Lee los csv de los sensores: pluvi√≥metro, humedad, extens√≥metro y aceler√≥metro usando pandas.
2. Identifica qu√© columnas contiene, las estad√≠sticas b√°sicas de cada una y las fechas asociadas a la serie de tiempo.
3. Usando una funci√≥n, identifica valores an√≥malos.
4. Usando una funci√≥n, identifica los valores faltantes.
4. Une las series de tiempo en un solo dataframe.
5. Exporta los resultados para posteriores an√°lisis.

## üìö Ap√©ndice: Tablas de referencia y funciones √∫tiles

### Convenci√≥n

| **Identificador** | **Significado**                          |
|------------------|--------------------------------------|
| `pd`            | Representa la librer√≠a **Pandas**    |
| `np`            | Representa la librer√≠a **NumPy**     |
| `df`            | Representa una variable que contiene un **DataFrame** |

## Lectura de datos

### Lectura de datos

| **Funci√≥n o elemento**  | **Descripci√≥n**  | **Tipo de retorno** | **Guardado** |
|-------------------------|-----------------|---------------------|--------------|
| `pd.read_csv()`        | Carga datos delimitados desde un archivo o URL; usa la coma como delimitador predeterminado. | `DataFrame` | `df.to_csv()` |
| `pd.read_excel()`      | Lee datos tabulares desde un archivo Excel en formato XLS o XLSX. | `DataFrame` | `df.to_excel()` |
| `pd.read_html()`       | Lee todas las tablas encontradas en un documento HTML dado. | `Lista de DataFrame` | `df.to_html()` |
| `pd.read_xml()`        | Lee una tabla de datos desde un archivo XML. | `DataFrame` | `df.to_xml()` |
| `pd.read_stata()`      | Lee un conjunto de datos en formato de archivo Stata. | `DataFrame` | `df.to_stata()` |

## DataFrames y Series (Pandas)

### Bases DataFrame: Lectura, Impresi√≥n y Retorno de Informaci√≥n

| **Funci√≥n o elemento**  | **Descripci√≥n**  | **Tipo de retorno** |
|-------------------------|-----------------|---------------------|
| `df`                   | Retorna el DataFrame completo. | `DataFrame` |
| `print(df)`            | Imprime el DataFrame en formato texto. | `No aplica` |
| `display(df)`          | Imprime el DataFrame en formato tabla mejorado. | `No aplica` |
| `df.iloc[0]`           | Retorna la primera fila del DataFrame (sin importar el √≠ndice de filas). | `Series` |
| `s_primera_fila = df.iloc[0]` | Crea una variable `Series` que contiene los datos asociados a la primera fila (sin importar el √≠ndice de filas). | `No aplica` |
| `df.loc[0]`            | Retorna la fila del DataFrame asociado al √≠ndice de fila 0. | `Series` |
| `s_fila_0 = df.loc[0]` | Crea una variable `Series` que contiene los datos asociados a la fila con el √≠ndice de fila 0. | `No aplica` |
| `df.loc[0, "col"]`     | Retorna el valor almacenado en la columna `"col"` correspondiente a la fila con √≠ndice 0. | `Escalar` |
| `df[["col1","col2","col3"]]` | Retorna un DataFrame que solo contiene las columnas `"col1"`, `"col2"` y `"col3"` del DataFrame original. | `DataFrame` |
| `df["col"]`            | Retorna una columna espec√≠fica del DataFrame. | `Series` |
| `s_col = df["col"]`    | Crea una variable `Series` que contiene los valores de la columna `"col"` del DataFrame. | `No aplica` |
| `df["col"][0]`         | Retorna el valor almacenado en la columna `"col"` correspondiente a la fila con √≠ndice 0. | `Escalar` |
| `df.columns.tolist()`  | Retorna una lista con los √≠ndices de las columnas. | `List` |
| `df.index.tolist()`    | Retorna una lista con los √≠ndices de las filas. | `List` |
| `df.dtypes`            | Retorna los tipos de los datos de las columnas. | `Series` |
| `df.head(n)`           | Retorna las primeras `n` filas del DataFrame (por defecto retorna las primeras 5). | `DataFrame` |
| `df.tail(n)`           | Retorna las √∫ltimas `n` filas del DataFrame (por defecto retorna las √∫ltimas 5). | `DataFrame` |
| `df.info()`            | Imprime informaci√≥n general del DataFrame, como tipos de datos y valores nulos. | `No aplica` |
| `df.describe()`        | Retorna estad√≠sticas descriptivas de las columnas num√©ricas. | `DataFrame` |

### Bases DataFrame: Modificaci√≥n y Borrado

| **Funci√≥n o elemento**  | **Descripci√≥n**  | **Tipo de retorno** |
|-------------------------|-----------------|---------------------|
| `df.loc[0, "col"] = 5` | Modifica el valor almacenado en la columna `"col"`, en la fila con √≠ndice `0`, y lo reemplaza por `5`. Si `"col"` no existe, la crea. | `No aplica` |
| `df["col"] = "Hola"`   | Modifica todos los valores en la columna `"col"` y los reemplaza por `"Hola"`. Si `"col"` no existe, la crea con el valor `"Hola"`. | `No aplica` |
| `df["col"] = df["col"] * 2` | Modifica todos los valores en la columna `"col"`, duplic√°ndolos. | `No aplica` |
| `df["col"] = np.round(df["col"], 2)` | Modifica todos los valores en la columna `"col"` del DataFrame redondeando los decimales a dos cifras. | `No aplica` |
| `df = df.drop(0, axis=0)` | Borra la fila con √≠ndice `0` del DataFrame. | `No aplica` |
| `df = df.drop(columns="col")` | Borra la columna `"col"` del DataFrame. | `No aplica` |
| `df = pd.concat([df, df1], axis=1)` | Modifica `df`, ahora ser√° un DataFrame concatenado de `df` m√°s `df1`. `axis=1` indica que la concatenaci√≥n se realiza por columnas, basado en los √≠ndices de filas de ambos DataFrames. | `No aplica` |

### Bases Series: Lectura, Impresi√≥n y Retorno de Informaci√≥n

| **Funci√≥n o elemento**  | **Descripci√≥n**  | **Tipo de retorno** |
|-------------------------|-----------------|---------------------|
| `s`                    | Retorna la `Series` completa. | `Series` |
| `print(s)`             | Imprime la `Series` en formato texto. | `No aplica` |
| `display(s)`           | Imprime la `Series` en formato tabla mejorado. | `No aplica` |
| `s.iloc[0]`            | Retorna el primer valor de la `Series` (sin importar el √≠ndice). | `Escalar` |
| `s.loc[0]`            | Retorna el valor de la `Series` asociado al √≠ndice `0` (aplica cuando los √≠ndices son n√∫meros). | `Escalar` |
| `s.loc["col"]`         | Retorna el valor de la `Series` asociado al √≠ndice `"col"` (aplica cuando los √≠ndices son texto). | `Escalar` |
| `s.index.tolist()`     | Retorna una lista con los √≠ndices de la `Series`. | `List` |
| `s.value_counts()`     | Retorna la cantidad de veces que aparece cada valor en la `Series`. Ignora valores `NaN` por defecto. Para incluirlos, usar `dropna=False`. | `Series` |
| `s.sort_values()`      | Retorna los valores de la `Series` ordenados de menor a mayor (o de mayor a menor con `ascending=False`). | `Series` |
| `s.mean()`             | Retorna el promedio de los valores de la `Series`. | `Escalar` |
| `s.sum()`             | Retorna la suma de los valores de la `Series`. | `Escalar` |
| `s.min()`             | Retorna el valor m√≠nimo de la `Series`. | `Escalar` |
| `s.max()`             | Retorna el valor m√°ximo de la `Series`. | `Escalar` |
| `s[s > 5]`            | Retorna los valores de la `Series` que cumplen la condici√≥n definida (en este caso, los valores mayores a `5`). | `Series` |
| `s_filtrada = s[s > 5]` | Crea una nueva variable `Series` con los valores mayores a `5` de la `Series` `"s"`. | `No aplica` |

## Limpieza y preparaci√≥n de datos

### Datos Faltantes

| **Funci√≥n o elemento**  | **Descripci√≥n**  | **Tipo de retorno** |
|-------------------------|-----------------|---------------------|
| `df = df.replace("?", np.NaN)` | Reemplaza los valores `"?"` en `df` con `NaN` (datos faltantes). | `No aplica` |
| `df.isna()`            | Retorna un `DataFrame` booleano con `True` en posiciones donde hay `NaN`. | `DataFrame` |
| `s.isna()`             | Retorna una `Series` booleana con `True` en posiciones donde hay `NaN`. | `Series` |
| `df = df.fillna(0)`    | Reemplaza todos los valores `NaN` en `df` con `0`. | `No aplica` |
| `df = df.dropna(axis=0)` | Elimina todas las filas del `DataFrame` que contienen `NaN`. `axis=0` borra filas, `axis=1` borra columnas. | `No aplica` |
| `df = df.dropna(subset=["col"])` | Elimina solo las filas donde `"col"` tiene `NaN`. | `No aplica` |

### Reemplazo por Valor Est√°ndar, Promedio y Valor M√°s Frecuente

| **Funci√≥n o elemento**  | **Descripci√≥n** |
|-------------------------|----------------|
| `df["col"] = df["col"].replace(np.NaN, "Hola")` | Reemplaza los valores `NaN` en `"col"` de `df` con un valor est√°ndar (ej: `"Hola"`). |
| `mean = df["col"].astype("float").mean()` <br> `df["col"] = df["col"].replace(np.NaN, mean)` | Calcula el promedio de la columna `"col"`. Y Reemplaza los valores `NaN` en `"col"` de `df` con el promedio de la columna. |
| `idxmax = df["col"].value_counts().idxmax()` <br> `df["col"] = df["col"].replace(np.NaN, idxmax)` | Encuentra el valor m√°s frecuente de la columna `"col"`. Y  Reemplaza los valores `NaN` en `"col"` con el valor m√°s frecuente de la columna. |
| `valmax = df["col"].mode()[0]` <br> `df["col"] = df["col"].replace(np.NaN, valmax)` | Encuentra el valor m√°s frecuente de la columna `"col"` (otra forma). Y  Reemplaza los valores `NaN` en `"col"` con el valor m√°s frecuente de la columna. |

### Formateo de Datos

| **Funci√≥n o elemento**  | **Descripci√≥n** |
|-------------------------|----------------|
| `df["col"] = df["col"].replace("viejo", "nuevo")` | Reemplaza los valores `"viejo"` en `"col"` de `df` con `"nuevo"`. |
| `df = df.rename(columns={"viejo":"nuevo"})` | Cambia el nombre de la columna `"viejo"` a `"nuevo"` en `df`. |
| `df["col"] = df["col"].astype("float")` | Convierte los valores de la columna `"col"` al tipo de dato `"float"`. |

### Normalizaci√≥n

| **Funci√≥n o elemento** | **Descripci√≥n** |
|------------------------|----------------|
| `df["col_normalizada"] = df["col"]/df["col"].max()` | Crea una columna normalizada llamada `"col_normalizada"` utilizando **Simple Feature Scaling**. Este m√©todo escala en funci√≥n del valor m√°ximo y no garantiza un rango fijo de los datos. |
| `df["col_normalizada"] = (df["col"] - df["col"].min()) / (df["col"].max() - df["col"].min())` | Crea una columna normalizada llamada `"col_normalizada"` utilizando **Min-Max Scaling**. Este m√©todo escala en un rango fijo (0 a 1). |

## üèÅ Conclusi√≥n y recursos adicionales

En esta primera clase aprendiste los fundamentos de Python aplicados a la ingenier√≠a y la geotecnia: variables, operaciones, estructuras de control, funciones, listas y la manipulaci√≥n b√°sica de datos con pandas. Estos conceptos son la base para automatizar tareas, analizar datos de sensores y resolver problemas reales en tu campo profesional.

**¬øQu√© sigue?**
- Profundizar en el an√°lisis y visualizaci√≥n de datos.
- Aprender a detectar y tratar valores an√≥malos y faltantes.
- Integrar datos de diferentes sensores para an√°lisis avanzados.

**Recursos √∫tiles:**
- [Documentaci√≥n oficial de Python](https://docs.python.org/es/3/)
- [Tutorial de Python para principiantes (YouTube)](https://www.youtube.com/watch?v=Kp4Mvapo5kc)
- [Documentaci√≥n de pandas](https://pandas.pydata.org/pandas-docs/stable/index.html)
- [Cheat sheet de Python (PDF)](https://media.datacamp.com/cms/python-basics-cheat-sheet-v3.pdf)

¬°Sigue practicando y experimentando con tus propios datos e ideas!